/* You can add global styles to this file, and also import other style files */

body {
  overflow: visible;
}

@font-face {
  font-family: 'google-sans-regular';
  src: url(./assets/fonts/GoogleSansDisplay-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'google-sans-bold';
  src: url(./assets/fonts/GoogleSansDisplay-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'soul-signature';
  src: url(./assets/fonts/Soul\ Signature.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'incompleta';
  src: url(./assets/fonts/IncompleetaRegular.ttf);
  font-display: swap;
}

.google-sans-regular {
  font-family: 'google-sans-regular';
}

.google-sans-bold {
  font-family: 'google-sans-bold';
}

.soul-signature {
  font-family: 'soul-signature';
}

.incompleta {
  font-family: 'incompleta';
}

body {
  font-family: "Montserrat" !important;
}



:root {
  font-size: 16px;
  font-family: 'google-sans-regular';
}

body {
  background-color: #0f0f11;
  color: white;
}

main {
  margin-left: 8rem;
  padding: 1rem;
  overflow: hidden !important;
}

.section-title {
  font-size: 200%;
  line-height: 40px;
}

.section-content {
  font-size: 16px;
}

.primary-button {
  background-color: #cc2b3800;
  border: 1px #cc2b38 solid;
  color: #cc2b38;
}

.red-color {
  color: #cc2b38;
}
.btn-outline-danger{
  border: #cc2b3842 1px solid;
  color: #cc2b3c;
}
.custom-link{
  color: #cc2b38;
  text-decoration: none;
  margin-top: 5%;
  margin-bottom: 0px !important;
  transition-duration: 0.5s;
}
.custom-link i{
  transition-duration: 0.25s;
}
.custom-link:hover i{
  margin-left: 2%;
  color: white;
}
.custom-link:hover{
  color: white;
}
.custom-link:hover .article-card{
  background-color: #ffffff2a !important;
}
@media only screen and (max-width:800px){
  main{
    margin-left:0rem ;
  }
  .section-title{
    font-size: 150%;
  }
}
@media only screen and (max-width:500px){
  main{
    margin-left:0rem ;
  }
  .section-title{
    font-size: 150%;
  }
}

@font-face {
  font-family: 'google-sans-regular';
  src: url(assets/fonts/GoogleSansDisplay-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'google-sans-bold';
  src: url(assets/fonts/GoogleSansDisplay-Bold.ttf);
  font-display: swap;
}

.google-sans-regular{
  font-family: google-sans-regular;
}

.google-sans-bold{
  font-family: google-sans-bold;
}


body{
  font-family: google-sans-regular;
}