<section class="my-skills-section py-5 google-sans-regular">
    <div class="row">
      <div class="col-12">
        <p class="section-title">
          My Skills
        </p>
        <p class="section-content">
          Skills and Stacks I've Worked Upon
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 my-3" *ngFor="let skill of skills">
        <div class="card-container">
          <div class="card bg-transparent d-flex flex-column align-items-center">
            <div class="view overlay d-flex justify-content-center align-items-center my-auto">
              <img class="card-img-top" [src]="skill.logo" alt="Card image cap">
             
            </div>
            <div class="card-body card-front"></div>
            <div class="card-body card-back">
              <h4 class="card-title red-color">{{ skill.name }}</h4>
              <p class="card-text">{{ skill.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  