<section class="my-skills-section py-5">
    <div class="row">
        <div class="col-12">
            <p class="section-title">
                My Skills
            </p>
            <p class="section-content">
                Skills and Stacks I've Worked Upon
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 my-3">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                            src="../../../assets/Brand/skillLogos/Angular.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title red-color">Angular</h4>
                        <p class="card-text">As part of my skills, I specialize in using Angular to create responsive and dynamic web applications. I have experience in building modular and scalable front-end solutions using Angular's powerful features and components.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 my-3 col-sm-6">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                        src="../../../assets/Brand/skillLogos/Azure.png"
                            alt="Card image cap" width="100%">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title red-color">Azure</h4>
                        <p class="card-text">I specialize in utilizing Microsoft Azure to design and implement scalable and reliable cloud solutions. I have hands-on experience with various Azure services for building, deploying, and managing applications in the cloud.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 my-3 col-sm-6">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                        src="../../../assets/Brand/skillLogos/CSharp.png"
                            alt="Card image cap" width="100%">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title red-color">C#</h4>
                        <p class="card-text">I am proficient in C# programming language, using it to develop scalable and maintainable applications. I have experience in building both desktop and web applications with C#.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 my-3 col-sm-6">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                        src="../../../assets/Brand/skillLogos/Dotnet.png"
                            alt="Card image cap" width="100%">
                        <a href="#!" >
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title red-color">.Net</h4>
                        <p class="card-text">I specialize in using the .NET platform to create versatile and scalable applications. I have hands-on experience with both .NET Framework and .NET Core, enabling me to build robust solutions for various platforms.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat the above structure for other cards -->
        <!-- ... -->
    </div>
</section>