<section class="my-skills-section py-5">
    <div class="row">
        <div class="col-12">
            <p class="section-title">
                My Skills
            </p>
            <p class="section-content">
                Skills and Stacks I've Worked Upon
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                            src="../../../assets/Brand/skillLogos/Angular.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title">Back Title</h4>
                        <p class="card-text">Back side content goes here.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                        src="../../../assets/Brand/skillLogos/Azure.png"
                            alt="Card image cap" width="100%">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title">Back Title</h4>
                        <p class="card-text">Back side content goes here.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                        src="../../../assets/Brand/skillLogos/CSharp.png"
                            alt="Card image cap" width="100%">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title">Back Title</h4>
                        <p class="card-text">Back side content goes here.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <!-- card-rotation.component.html -->
            <div class="card-container">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Front side of the card -->
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <img class="card-img-top"
                        src="../../../assets/Brand/skillLogos/Dotnet.png"
                            alt="Card image cap" width="100%">
                        <a href="#!" >
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body card-front">
                        <!-- <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-danger">Button</a> -->
                    </div>
                    <!-- Back side of the card -->
                    <div class="card-body card-back">
                        <h4 class="card-title">Back Title</h4>
                        <p class="card-text">Back side content goes here.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat the above structure for other cards -->
        <!-- ... -->
    </div>
</section>