.home-header{
    height: 100vh;
}
.page-sub-heading{
    font-size: 200%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-transform: uppercase;
}
.page-title{
    font-size: 150px;
    padding-top: 0%;
    margin-top: -50px !important;
}
@media only screen and (max-width:1440px) {
   .page-title{
    font-size: 125px;
    padding-top: 0%;
    margin-top: -50px !important;
   }
   .page-sub-heading{
    font-size: 150% !important;
   } 
}
@media only screen and (max-width:1100px) {
   .page-title{
    font-size: 100px;
    padding-top: 0%;
    margin-top: -50px !important;
   }
   .page-sub-heading{
    font-size: 125% !important;
   } 
}
@media only screen and (max-width:900px) {
   .page-title{
    font-size: 80px;
    padding-top: 0%;
    margin-top: -50px !important;
   }
   .page-sub-heading{
    font-size: 100% !important;
   } 
}
@media only screen and (max-width:500px) {
   .page-title{
    font-size: 45px;
    padding-top: 0%;
    margin-top: -50px !important;
   }
   .page-sub-heading{
    font-size: 100% !important;
   } 
}