<nav class="navbar google-sans-regular">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="/" class="nav-link">
        <!-- <span class="link-text logo-text incompleta">Pranav Kumar</span> -->
        <img src="assets/Brand/Favicon.png" alt="" srcset="" class="nav-logo">
      </a>
    </li>



    <li class="nav-item">
      <a href="/projects" class="nav-link">
        <i class="fa fa-code"></i>
        <span class="link-text">Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="articles" class="nav-link">
        <i class="fa-regular fa-newspaper"></i>
        <span class="link-text">Articles</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/events" class="nav-link">
        <i class="fa-solid fa-people-group"></i>
        <span class="link-text">Events</span>
      </a>
    </li>


    <li class="nav-item" id="themeButton">
      <a class="nav-link">
        <i class="fa fa-bars"></i>

      </a>
    </li>
  </ul>
</nav>