.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
  border-right: 0.5px solid #ffffff10;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

i {
  font-size: 25px;
}
.nav-logo{
  width: 35%;
}
.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  justify-content: center;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  color: #cc2b38 !important;
}

.link-text {
  font-size: 90%;
  text-transform: uppercase;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #cc2b38;
}

.fa-secondary {
  color: #cc2b38;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 800px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: block;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}

@media only screen and (min-width: 800px) {
  .navbar {
    top: 0;
    width: 7.5rem;
    height: 100vh;
  }

  .navbar:hover .logo svg {
    margin-left: 16rem;
    margin-top: 1rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #cc2b38;
  --text-secondary: #cc2b38;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #cc2b38;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
@media only screen and (max-width:800px){
  .link-text {
    display: none;
  }
  .nav-logo{
      width: 25%;
  }
  .logo{
    margin-bottom: 0px !important;
  }
  .navbar{
    background-color: #0f0f11;
    display: flex;
    align-items: center;
  }
  #themeButton{
    margin-top: 0px;
  }
}