.card {
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    max-height: 500px; /* Set a maximum height for the transition */
    transition: max-height 0.3s ease-in-out; /* Transition on max-height instead of height */
    width: 80%;
    border-bottom: 1px solid #ffffff1a;
    transition-duration: 0.5s;
  }

  .card-title{
    font-size: 125%;
  }

  .resume-section{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .card-body {
    color: #fff;
    /* border: 1px solid white; */
    max-height: 0; /* Set initial max-height to 0 */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Transition on max-height */
    padding: 0;
  }
  .corner-button{
    bottom: 0px !important;
    right: 0px !important;
  }
  
  .card-body.d-none {
    max-height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
  }
  
  .card-body:not(.d-none) {
    max-height: 500px; /* Set max-height to a sufficient value when not collapsed */
    transition-duration: 0.5s;
  }
  .card-body-wrapper {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .d-none {
    max-height: 0;
  }


  @media only screen and (max-width:1100px){
    .resume-section{
      height: auto;
    }
  }
  
  