<section class="py-5 text-white resume-section">
    <div class="row">
        <p class="section-title google-sans-regular">
            My Resume
        </p>
        <p class="section-content">
            My Academic and Professional Journey So Far
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row mt-5">
                <div class="col-12">
                    <p class="section-title">
                        Personal Details
                    </p>
                </div>
            </div>

            <div class="row" *ngFor="let section of resumeSections; let i = index">
                <div class="card bg-transparent">
                    <div class="position-relative">
                        <div>
                            <p class="card-title section-title" (click)="toggleCard(i)">
                                {{ section.title }}
                            </p>
                        </div>
                        <div class="card-body-wrapper" [ngClass]="{ 'd-none': !section.isExpanded }">
                            <div class="card-body">
                                {{ section.content }}
                            </div>
                        </div>
                        <button class="btn btn-outline-danger position-absolute corner-button m-0 rounded-5"
                            (click)="toggleCard(i)">
                            <i class="fa" [ngClass]="{ 'fa-plus': !section.isExpanded, 'fa-minus': section.isExpanded }"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row mt-5">
                <div class="col-12">
                    <p class="section-title">
                        Personal Details
                    </p>
                </div>
            </div>

            <div class="row" *ngFor="let section of resumeSections; let i = index">
                <div class="card bg-transparent">
                    <div class="position-relative">
                        <div>
                            <p class="card-title section-title" (click)="toggleCard(i)">
                                {{ section.title }}
                            </p>
                        </div>
                        <div class="card-body-wrapper" [ngClass]="{ 'd-none': !section.isExpanded }">
                            <div class="card-body">
                                {{ section.content }}
                            </div>
                        </div>
                        <button class="btn btn-outline-danger position-absolute corner-button m-0 rounded-5"
                            (click)="toggleCard(i)">
                            <i class="fa" [ngClass]="{ 'fa-plus': !section.isExpanded, 'fa-minus': section.isExpanded }"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
