<section style="height: 100vh;" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <p class="section-title google-sans-regular">
                My Resume
            </p>
            <p class="section-content">
                My Academic and Professional Journey So Far
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mt-5">
                    <div class="col-12">
                        <p class="section-title">
                            Personal Detials
                        </p>
                    </div>
                </div>
                <div class="accordion accordion-flush bg-transparent text-light" id="accordionFlushExample">
                    <div class="accordion-item bg-transparent text-light">
                        <h2 class="accordion-header bg-transparent" id="flush-headingOne">
                            <button class="accordion-button collapsed bg-transparent text-light" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne text-light">
                                Education
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body bg-transparent">
                                <ul>
                                    <li>Class 10th from High School, JAC board: 73%. Passed May 2010</li>
                                    <li>10+2 from BNS DAV School, CBSE board: 70%. Passed May 2012
                                    </li>
                                    <li>BCA from Usha Martin Academy (Vinoba Bhave University), Jharkhand: 73%. Passed
                                        May 2015</li>
                                    <li>
                                        MCA from IHGI, Jalandhar (PTU): 78%. Passed June 2017.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-transparent" id="flush-headingTwo">
                            <button class="accordion-button collapsed bg-transparent text-light" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Hobbies
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse bg-transparent text-light"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Apart from the development and from my office work I love to spend time on some
                                    stuff I
                                    like. I love to do
                                    lots of things explore new things everyday my favourite time pass is which I do most
                                    of
                                    the times are
                                    follows.

                                </p>
                                <ul>

                                    <li>
                                        As I love to listen instrumental music, so I love to play piano and play some
                                        instrumental music in my spare
                                        time
                                    </li>
                                    <li>
                                        Love aqua scaping so spend some of the time on them
                                    </li>
                                    <li>
                                        Love cycling which is part of my daily early morning routine.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed bg-transparent text-light" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Achievements
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse bg-transparent text-light"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        Promoted as Junior Developer in main Development lab during Trainee period.
                                        Promoted from trainee to
                                        junior Developer and 6 months of experience in live projects.

                                    </li>
                                    <li>
                                        Got achievement award for completing certification of angular 6 in 20 days.

                                    </li>
                                    <li>
                                        Successfully Passed Microsoft 70-480 exam with 80 percent

                                    </li>
                                    <li>
                                        Got Certified for React redux in one month and created POC on same

                                    </li>
                                    <li>
                                        Promoted to Senior Software Engineer
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mt-5">
                    <div class="col-12">
                        <p class="section-title">
                            Work EASDCxperience
                        </p>
                    </div>
                </div>
                <div class="accordion accordion-flush bg-transparent text-light" id="accordionFlushExample">
                    <div class="accordion-item bg-transparent text-light">
                        <h2 class="accordion-header bg-transparent" id="flush-headingOne">
                            <button class="accordion-button collapsed bg-transparent text-light" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne text-light">
                                Education
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body bg-transparent">
                                <ul>
                                    <li>Class 10th from High School, JAC board: 73%. Passed May 2010</li>
                                    <li>10+2 from BNS DAV School, CBSE board: 70%. Passed May 2012
                                    </li>
                                    <li>BCA from Usha Martin Academy (Vinoba Bhave University), Jharkhand: 73%. Passed
                                        May 2015</li>
                                    <li>
                                        MCA from IHGI, Jalandhar (PTU): 78%. Passed June 2017.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-transparent" id="flush-headingTwo">
                            <button class="accordion-button collapsed bg-transparent text-light" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Hobbies
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse bg-transparent text-light"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Apart from the development and from my office work I love to spend time on some
                                    stuff I
                                    like. I love to do
                                    lots of things explore new things everyday my favourite time pass is which I do most
                                    of
                                    the times are
                                    follows.

                                </p>
                                <ul>

                                    <li>
                                        As I love to listen instrumental music, so I love to play piano and play some
                                        instrumental music in my spare
                                        time
                                    </li>
                                    <li>
                                        Love aqua scaping so spend some of the time on them
                                    </li>
                                    <li>
                                        Love cycling which is part of my daily early morning routine.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed bg-transparent text-light" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Achievements
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse bg-transparent text-light"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        Promoted as Junior Developer in main Development lab during Trainee period.
                                        Promoted from trainee to
                                        junior Developer and 6 months of experience in live projects.

                                    </li>
                                    <li>
                                        Got achievement award for completing certification of angular 6 in 20 days.

                                    </li>
                                    <li>
                                        Successfully Passed Microsoft 70-480 exam with 80 percent

                                    </li>
                                    <li>
                                        Got Certified for React redux in one month and created POC on same

                                    </li>
                                    <li>
                                        Promoted to Senior Software Engineer
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>