<!-- Your component's HTML file -->

<!-- ... (Previous HTML code) ... -->

<div class="row">
    <div class="col-lg-6">
        <div class="row mt-3">
            <div class="col-12">
                <p class="section-title">
                    Personal Details
                </p>
            </div>
            <!-- Resume Sections -->
            <div *ngFor="let section of resumeSections; let i = index" class="card bg-transparent mt-3">
                <div class="position-relative">
                    <div data-toggle="collapse" [attr.href]="'#resumeSection' + i" role="button"
                        [attr.aria-expanded]="section.isExpanded ? 'true' : 'false'" aria-controls="resumeSection"
                        (click)="toggleCard(i, 'resume')">
                        <p class="card-title section-title">
                            {{ section.title }}
                            <i class="fas"
                                [ngClass]="{'fa-chevron-up': section.isExpanded, 'fa-chevron-down': !section.isExpanded}"></i>
                        </p>
                    </div>
                    <div [ngClass]="{ 'collapse': !section.isExpanded, 'show': section.isExpanded }"
                        [attr.id]="'resumeSection' + i">
                        <div class="card-body">
                            {{ section.content }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Professional Sections -->
            <div class="row mt-5">
                <div class="col-12 ">
                    <p class="section-title">
                        Professional Details
                    </p>
                </div>
            </div>
            <div *ngFor="let section2 of professionalSections; let j = index" class="card bg-transparent mt-3">
                <div class="position-relative">
                    <div data-toggle="collapse" [attr.href]="'#professionalSection' + j" role="button"
                        [attr.aria-expanded]="section2.isExpanded ? 'true' : 'false'"
                        aria-controls="professionalSection" (click)="toggleCard(j, 'professional')">
                        <p class="card-title section-title">
                            {{ section2.title }}
                            <i class="fas"
                                [ngClass]="{'fa-chevron-up': section2.isExpanded, 'fa-chevron-down': !section2.isExpanded}"></i>
                        </p>
                    </div>
                    <div [ngClass]="{ 'collapse': !section2.isExpanded, 'show': section2.isExpanded }"
                        [attr.id]="'professionalSection' + j">
                        <div class="card-body">
                            {{ section2.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <!-- Your existing code for the image -->
        <img src="{{ myImage }}" alt="" srcset="" width="100%">
    </div>
</div>